@model System.Tuple<string,bool>


<div>

@if (Model.Item2)
{
    <span>Correct! </span>
}
else
{
    <span>Sorry, you are wrong! </span>
}
    <span>The right answer is:<p id ="answerName">@Model.Item1</p></span>
</div>
